# BTT EBB42 Gem2 v1.0
SUBSYSTEMS=="usb", ATTRS{idProduct}=="614e",  ATTRS{idVendor}=="1d50", ATTRS{serial}=="btt-ebb42-gen2-10", ACTION=="add", SYMLINK+="btt-ebb42-gen2-10", RUN+="/home/pi/printer_data/config/RatOS/scripts/klipper-mcu-added.sh"

