###########################
# RatRig VAOC configuration
###########################

# The following pin aliases must be defined in the control board defintion:
#
#   ratrig_vaoc_probe_pin   - The Z-probe pin connected to the VAOC camera module.
#   ratrig_vaoc_led_pin     - The neopixel LED data pin connected to the VAOC camera module.
#   ratrig_vaoc_fan_pin     - The cooling fan pin connected to the VAOC camera module.
#
# At the time of writing, these aliases are only defined for the BTT Octopus 1.1 board
# in boards/btt-octopus-11/config.cfg.

# The [cam 1] section in crowsnest.conf must be replaced with the following
# (with the # characters removed) to enable the VAOC camera:

#[cam 1]
#mode: camera-streamer
#enable_rtsp: false
#rtsp_port: 8554
#port: 8080
#device: /dev/video0
#resolution: 1920x1080
#max_fps: 30

[z_offset_probe]
pin: ^ratrig_vaoc_probe_pin  # probe trigger pin
z_offset: -7                 # probe height, used to limit the probe z-move
y_offset: 0                  # probe y-offset, measured from the camera centre
x_offset: 37.5               # probe x-offset, measured from the camera centre
speed: 10                    # probe speed  
samples: 3                   # number of samples  
sample_retract_dist: 5
lift_speed: 10.0
samples_result: median
samples_tolerance: 0.2
samples_tolerance_retries: 5

[neopixel vaoc_led]
pin: ratrig_vaoc_led_pin
chain_count: 6
color_order: GRB

[heater_fan vaoc_fan]
pin: ratrig_vaoc_fan_pin
heater: heater_bed
fan_speed: 1.0
heater_temp: 50
