# Map all klipper boards

SUBSYSTEMS=="usb-serial"
ENV{ID_SERIAL}=="", GOTO="ratos_end"
ENV{ID_VENDOR}=="", GOTO="ratos_end"
ENV{ID_USB_SERIAL_SHORT}=="", GOTO="ratos_end"
ENV{ID_VENDOR}=="Klipper", ACTION=="add", SYMLINK+="RatOS/$env{ID_USB_SERIAL_SHORT}"

ACTION=="remove", ENV{DEVLINKS}=="/dev/RatOS/$env{ID_USB_SERIAL_SHORT}"

LABEL="ratos_end"